.civmodellist {
	display: flex;
	flex-wrap: wrap;
}
.civmodellist figure {
	margin: 4px;
	transition: transform .3s ease-out;
	cursor: pointer;
}

.civmodelcard {
	position: relative;
}

.civmodelcard:hover {
	transform: scale(1.5, 1.5);
	position: relative;	/* need for z-index */
	z-index: var(--layer-5);
	box-shadow: 0 0 4px 6px whitesmoke
}
.civmodelcard:hover figcaption{
	bottom: initial;
	background-color: rgba(32, 32, 32, 0.9);
}

.civmodelcard img {
	/*filter: blur(6px);*/
	width: 8em;
	height: 12em;
	object-fit: cover;
}

.civmodelcard figcaption {
	position: absolute;
	bottom: 5px;
	left: 5px;
	word-break: break-word;
	background-color: rgba(32, 32, 32, 0.5);
	/*transition: bottom .3s ease-out;*/
}

.civnsfw img {
	filter: blur(10px);
}
.civcardnsfw img {
	filter: blur(4px);
}